.main {
	width: 100%;
	height: 100vh;
	.header {
		height: 4rem;
		width: 100%;
	}
	.body {
		.welcome {
			width: 100%;
			height: 100vh;
			background-image: url('https://s3-alpha-sig.figma.com/img/adf0/dbff/a4c0afb21f7b08e8a81a363f60fdfe25?Expires=1693180800&Signature=lVadcBYplTmlQZueo-HogbiYW-EZgOwLOU5IdhyIzUW-EDTwaMqvfu0S5v7yK1m4jagwWErb0p5Yz066C2aDn8V-BjgztTSKIVZOTzM0x5~HspdWEJYMpzxXS~RwpV~AP3466ANHB0wHfqEcyEd0q4NqK4ebQtKF2nZGUAHqUh2a7Ae6GAWLM-OD~f2SY4P0yAQ5cAicIUJEBHZD~AECawpY8URdfgbG2cERz0JfrDAQrTeqXJJl46PCkWIKkcr7w6ydwhgEaSHj2wPvlB3wZM9m~YVvf6nCmo9yHpAiVAwsjt312vsAnwDvKGAZVLqNrcyB73PNfBM4V9252F14VQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			align-items: center;
			gap: 14px;
			align-self: stretch;
			flex-shrink: 0;
			div {
				height: 100vh;
				justify-content: center;
				display: flex;
				width: 523px;
				flex-direction: column;
				align-items: flex-start;
				margin-left: 200px;
				h2 {
					color: #fff;
					text-align: center;
					font-size: 3.5rem;
					font-weight: 900;
					line-height: normal;
					text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
				}
				p {
					text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
					color: #fff;
					text-align: justify;
					font-size: 24px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}
			}
		}
	}
}
