.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: rgba(144, 144, 144, 0.5);
	color: rgb(0, 0, 0);
	text-align: center;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
	position: fixed;

	h1 {
		margin: 0;
		font-size: 1.5rem;
	}

	.nav-links {
		a {
			color: rgb(0, 0, 0);
			text-decoration: none;
			margin: 0 1rem;
			font-size: 1rem;

			&:hover {
				text-decoration: underline;
			}

			.lenguaje {
				width: 20px;
			}
		}
	}
}
